:root {
  --color-primary: #f4823b;
  --color-accent: #9ACD32;
  --color-text: #333333;
  --color-bg: #ffffff;
}

/* ================================
   Base Typography & Global Styles
   ================================ */

/* Root text settings */
html {
  font-size: 16px;
}

/* Body text */
body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1, h2, h3 {
  color: var(--color-primary);
}

/* Heading scale */
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.4rem;
}

/* Paragraphs */
p {
  max-width: 65ch;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Links */
a {
  color: inherit;
}

a:hover {
  /* text-decoration: underline; */
  color: var(--color-primary);
}

/* Sections spacing */
section {
  margin-bottom: 3rem;
}

/* Small text */
small {
  font-size: 0.85rem;
  color: #555;
}

button,
.hero-cta {
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  padding: 0.6rem 1.4rem;
  font-size: 0.9rem;
  border-radius:999px;
}

button:hover,
.hero-cta:hover {
  background-color: var(--color-accent);
}

